DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'wfc') THEN
        CREATE SCHEMA wfc;
    END IF;
END $EF$;
CREATE TABLE IF NOT EXISTS wfc."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'wfc') THEN
        CREATE SCHEMA wfc;
    END IF;
END $EF$;

CREATE TABLE wfc."UnpublishedEvent" (
    "PersistenceId" bigserial NOT NULL,
    "EventData" text,
    "EventKey" character varying(200),
    "EventName" character varying(200),
    "PublicationId" uuid NOT NULL,
    "StepId" integer NOT NULL,
    "WorkflowId" character varying(200),
    CONSTRAINT "PK_UnpublishedEvent" PRIMARY KEY ("PersistenceId")
);

CREATE TABLE wfc."Subscription" (
    "PersistenceId" bigserial NOT NULL,
    "EventKey" character varying(200),
    "EventName" character varying(200),
    "StepId" integer NOT NULL,
    "SubscriptionId" uuid NOT NULL,
    "WorkflowId" character varying(200),
    CONSTRAINT "PK_Subscription" PRIMARY KEY ("PersistenceId")
);

CREATE TABLE wfc."Workflow" (
    "PersistenceId" bigserial NOT NULL,
    "CompleteTime" timestamp with time zone,
    "CreateTime" timestamp with time zone NOT NULL,
    "Data" text,
    "Description" character varying(500),
    "InstanceId" uuid NOT NULL,
    "NextExecution" bigint,
    "Status" integer NOT NULL,
    "Version" integer NOT NULL,
    "WorkflowDefinitionId" character varying(200),
    CONSTRAINT "PK_Workflow" PRIMARY KEY ("PersistenceId")
);

CREATE TABLE wfc."ExecutionPointer" (
    "PersistenceId" bigserial NOT NULL,
    "Active" boolean NOT NULL,
    "ConcurrentFork" integer NOT NULL,
    "EndTime" timestamp with time zone,
    "EventData" text,
    "EventKey" text,
    "EventName" text,
    "EventPublished" boolean NOT NULL,
    "Id" character varying(50),
    "PathTerminator" boolean NOT NULL,
    "PersistenceData" text,
    "SleepUntil" timestamp with time zone,
    "StartTime" timestamp with time zone,
    "StepId" integer NOT NULL,
    "StepName" text,
    "WorkflowId" bigint NOT NULL,
    CONSTRAINT "PK_ExecutionPointer" PRIMARY KEY ("PersistenceId"),
    CONSTRAINT "FK_ExecutionPointer_Workflow_WorkflowId" FOREIGN KEY ("WorkflowId") REFERENCES wfc."Workflow" ("PersistenceId") ON DELETE CASCADE
);

CREATE TABLE wfc."ExecutionError" (
    "PersistenceId" bigserial NOT NULL,
    "ErrorTime" timestamp with time zone NOT NULL,
    "ExecutionPointerId" bigint NOT NULL,
    "Id" character varying(50),
    "Message" text,
    CONSTRAINT "PK_ExecutionError" PRIMARY KEY ("PersistenceId"),
    CONSTRAINT "FK_ExecutionError_ExecutionPointer_ExecutionPointerId" FOREIGN KEY ("ExecutionPointerId") REFERENCES wfc."ExecutionPointer" ("PersistenceId") ON DELETE CASCADE
);

CREATE TABLE wfc."ExtensionAttribute" (
    "PersistenceId" bigserial NOT NULL,
    "AttributeKey" character varying(100),
    "AttributeValue" text,
    "ExecutionPointerId" bigint NOT NULL,
    CONSTRAINT "PK_ExtensionAttribute" PRIMARY KEY ("PersistenceId"),
    CONSTRAINT "FK_ExtensionAttribute_ExecutionPointer_ExecutionPointerId" FOREIGN KEY ("ExecutionPointerId") REFERENCES wfc."ExecutionPointer" ("PersistenceId") ON DELETE CASCADE
);

CREATE INDEX "IX_ExecutionError_ExecutionPointerId" ON wfc."ExecutionError" ("ExecutionPointerId");

CREATE INDEX "IX_ExecutionPointer_WorkflowId" ON wfc."ExecutionPointer" ("WorkflowId");

CREATE INDEX "IX_ExtensionAttribute_ExecutionPointerId" ON wfc."ExtensionAttribute" ("ExecutionPointerId");

CREATE UNIQUE INDEX "IX_UnpublishedEvent_PublicationId" ON wfc."UnpublishedEvent" ("PublicationId");

CREATE INDEX "IX_Subscription_EventKey" ON wfc."Subscription" ("EventKey");

CREATE INDEX "IX_Subscription_EventName" ON wfc."Subscription" ("EventName");

CREATE UNIQUE INDEX "IX_Subscription_SubscriptionId" ON wfc."Subscription" ("SubscriptionId");

CREATE UNIQUE INDEX "IX_Workflow_InstanceId" ON wfc."Workflow" ("InstanceId");

CREATE INDEX "IX_Workflow_NextExecution" ON wfc."Workflow" ("NextExecution");

INSERT INTO wfc."__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20170126230815_InitialDatabase', '10.0.3');

COMMIT;

START TRANSACTION;
DROP TABLE wfc."UnpublishedEvent";

ALTER TABLE wfc."Subscription" ADD "SubscribeAsOf" timestamp with time zone NOT NULL DEFAULT TIMESTAMPTZ '-infinity';

CREATE TABLE wfc."Event" (
    "PersistenceId" bigserial NOT NULL,
    "EventData" text,
    "EventId" uuid NOT NULL,
    "EventKey" character varying(200),
    "EventName" character varying(200),
    "EventTime" timestamp with time zone NOT NULL,
    "IsProcessed" boolean NOT NULL,
    CONSTRAINT "PK_Event" PRIMARY KEY ("PersistenceId")
);

CREATE UNIQUE INDEX "IX_Event_EventId" ON wfc."Event" ("EventId");

CREATE INDEX "IX_Event_EventTime" ON wfc."Event" ("EventTime");

CREATE INDEX "IX_Event_IsProcessed" ON wfc."Event" ("IsProcessed");

CREATE INDEX "IX_Event_EventName_EventKey" ON wfc."Event" ("EventName", "EventKey");

INSERT INTO wfc."__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20170312161610_Events', '10.0.3');

COMMIT;

START TRANSACTION;
ALTER TABLE wfc."ExecutionError" DROP CONSTRAINT "FK_ExecutionError_ExecutionPointer_ExecutionPointerId";

DROP INDEX wfc."IX_ExecutionError_ExecutionPointerId";

ALTER TABLE wfc."ExecutionPointer" DROP COLUMN "PathTerminator";

ALTER TABLE wfc."ExecutionError" DROP COLUMN "Id";

ALTER TABLE wfc."ExecutionPointer" RENAME COLUMN "ConcurrentFork" TO "RetryCount";

ALTER TABLE wfc."ExecutionPointer" ALTER COLUMN "StepName" TYPE character varying(100);

ALTER TABLE wfc."ExecutionPointer" ALTER COLUMN "EventName" TYPE character varying(100);

ALTER TABLE wfc."ExecutionPointer" ALTER COLUMN "EventKey" TYPE character varying(100);

ALTER TABLE wfc."ExecutionPointer" ADD "Children" text;

ALTER TABLE wfc."ExecutionPointer" ADD "ContextItem" text;

ALTER TABLE wfc."ExecutionPointer" ADD "PredecessorId" character varying(100);

ALTER TABLE wfc."ExecutionError" ALTER COLUMN "ExecutionPointerId" TYPE character varying(100);
ALTER TABLE wfc."ExecutionError" ALTER COLUMN "ExecutionPointerId" DROP NOT NULL;

ALTER TABLE wfc."ExecutionError" ADD "WorkflowId" character varying(100);

INSERT INTO wfc."__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20170507214430_ControlStructures', '10.0.3');

COMMIT;

START TRANSACTION;
ALTER TABLE wfc."ExecutionPointer" ADD "Outcome" text;


COMMIT;

START TRANSACTION;
ALTER TABLE wfc."Workflow" ADD "Reference" character varying(200);


COMMIT;

START TRANSACTION;
ALTER TABLE wfc."ExecutionPointer" ADD "Scope" text;

ALTER TABLE wfc."ExecutionPointer" ADD "Status" integer NOT NULL DEFAULT 0;


COMMIT;

START TRANSACTION;
ALTER TABLE wfc."Subscription" ADD "SubscriptionData" text;


COMMIT;

START TRANSACTION;
ALTER SEQUENCE wfc."Workflow_PersistenceId_seq" RENAME TO "Workflow_PersistenceId_old_seq";
ALTER TABLE wfc."Workflow" ALTER COLUMN "PersistenceId" DROP DEFAULT;
ALTER TABLE wfc."Workflow" ALTER COLUMN "PersistenceId" ADD GENERATED BY DEFAULT AS IDENTITY;
SELECT * FROM setval('wfc."Workflow_PersistenceId_seq"', nextval('wfc."Workflow_PersistenceId_old_seq"'), false);
DROP SEQUENCE wfc."Workflow_PersistenceId_old_seq";

ALTER SEQUENCE wfc."Subscription_PersistenceId_seq" RENAME TO "Subscription_PersistenceId_old_seq";
ALTER TABLE wfc."Subscription" ALTER COLUMN "PersistenceId" DROP DEFAULT;
ALTER TABLE wfc."Subscription" ALTER COLUMN "PersistenceId" ADD GENERATED BY DEFAULT AS IDENTITY;
SELECT * FROM setval('wfc."Subscription_PersistenceId_seq"', nextval('wfc."Subscription_PersistenceId_old_seq"'), false);
DROP SEQUENCE wfc."Subscription_PersistenceId_old_seq";

ALTER TABLE wfc."Subscription" ADD "ExecutionPointerId" character varying(200);

ALTER TABLE wfc."Subscription" ADD "ExternalToken" character varying(200);

ALTER TABLE wfc."Subscription" ADD "ExternalTokenExpiry" timestamp without time zone;

ALTER TABLE wfc."Subscription" ADD "ExternalWorkerId" character varying(200);

ALTER SEQUENCE wfc."ExtensionAttribute_PersistenceId_seq" RENAME TO "ExtensionAttribute_PersistenceId_old_seq";
ALTER TABLE wfc."ExtensionAttribute" ALTER COLUMN "PersistenceId" DROP DEFAULT;
ALTER TABLE wfc."ExtensionAttribute" ALTER COLUMN "PersistenceId" ADD GENERATED BY DEFAULT AS IDENTITY;
SELECT * FROM setval('wfc."ExtensionAttribute_PersistenceId_seq"', nextval('wfc."ExtensionAttribute_PersistenceId_old_seq"'), false);
DROP SEQUENCE wfc."ExtensionAttribute_PersistenceId_old_seq";

ALTER SEQUENCE wfc."ExecutionPointer_PersistenceId_seq" RENAME TO "ExecutionPointer_PersistenceId_old_seq";
ALTER TABLE wfc."ExecutionPointer" ALTER COLUMN "PersistenceId" DROP DEFAULT;
ALTER TABLE wfc."ExecutionPointer" ALTER COLUMN "PersistenceId" ADD GENERATED BY DEFAULT AS IDENTITY;
SELECT * FROM setval('wfc."ExecutionPointer_PersistenceId_seq"', nextval('wfc."ExecutionPointer_PersistenceId_old_seq"'), false);
DROP SEQUENCE wfc."ExecutionPointer_PersistenceId_old_seq";

ALTER SEQUENCE wfc."ExecutionError_PersistenceId_seq" RENAME TO "ExecutionError_PersistenceId_old_seq";
ALTER TABLE wfc."ExecutionError" ALTER COLUMN "PersistenceId" DROP DEFAULT;
ALTER TABLE wfc."ExecutionError" ALTER COLUMN "PersistenceId" ADD GENERATED BY DEFAULT AS IDENTITY;
SELECT * FROM setval('wfc."ExecutionError_PersistenceId_seq"', nextval('wfc."ExecutionError_PersistenceId_old_seq"'), false);
DROP SEQUENCE wfc."ExecutionError_PersistenceId_old_seq";

ALTER SEQUENCE wfc."Event_PersistenceId_seq" RENAME TO "Event_PersistenceId_old_seq";
ALTER TABLE wfc."Event" ALTER COLUMN "PersistenceId" DROP DEFAULT;
ALTER TABLE wfc."Event" ALTER COLUMN "PersistenceId" ADD GENERATED BY DEFAULT AS IDENTITY;
SELECT * FROM setval('wfc."Event_PersistenceId_seq"', nextval('wfc."Event_PersistenceId_old_seq"'), false);
DROP SEQUENCE wfc."Event_PersistenceId_old_seq";


COMMIT;

START TRANSACTION;
CREATE TABLE wfc."ScheduledCommand" (
    "PersistenceId" bigint GENERATED BY DEFAULT AS IDENTITY,
    "CommandName" character varying(200),
    "Data" character varying(500),
    "ExecuteTime" bigint NOT NULL,
    CONSTRAINT "PK_ScheduledCommand" PRIMARY KEY ("PersistenceId")
);

CREATE UNIQUE INDEX "IX_ScheduledCommand_CommandName_Data" ON wfc."ScheduledCommand" ("CommandName", "Data");

CREATE INDEX "IX_ScheduledCommand_ExecuteTime" ON wfc."ScheduledCommand" ("ExecuteTime");


COMMIT;
